* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: 0.3s;
}

/* DARK THEME */
body.dark {
  background: #121212;
  color: white;
}

/* LIGHT THEME */
body.light {
  background: #f5f5f5;
  color: black;
}

.container {
  width: 90%;
  max-width: 500px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
}

/* Search */
.search-box {
  position: relative;
  margin-bottom: 15px;
}

.search-box input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

/* Suggestions */
#suggestions {
  position: absolute;
  width: 100%;
  background: #222;
  border-radius: 8px;
  max-height: 150px;
  overflow-y: auto;
}

#suggestions div {
  padding: 8px;
  cursor: pointer;
}

#suggestions div:hover {
  background: #444;
}

/* Button */
button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Forecast */
.forecast {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
  gap: 10px;
}

.forecast-card {
  padding: 10px;
  border-radius: 10px;
  background: rgba(255,255,255,0.1);
}